<%= form_for @project do |f|  %>
	<% if @project.errors.any? %>
		<h2><%= pluralize(@project.errors.count, "error")%> prevented this project from saving</h2>
		<ul>
			<% @project.errors.full_messages.each do |msg| %>
				<li>
					<%= msg %>
				</li>
			<% end %>
		</ul>
	<% end %>



		<br />
		<br />


		<%= f.label :title %><br />
		<%= f.text_field :title %>

			<br />
			<br />

	<%= f.label :description %><br />
	<%= f.text_area :description%>

	<br />
	<br />


	<%= f.label :link %><br />
	<%= f.text_field :link %>



		<br />
		<br />

	<%= f.submit %>
<% end %>
