
<h1 id="page_title">Stuff I've Built</h1>
	</div>
	<div id="project_wrapper" class="skinny_wrapper">
		<% @projects.each do |project| %>
			<div class="post">
				<p class="date"><%= project.created_at.strftime('%A, %B %d') %></p>
				<h2>
					<a href="#"><%= link_to project.title,  project%></a>
				</h2>
				<hr />
			</div>
		<% end %>

		</div>
