<div id="project_show_content" class="skinny_wrapper skinny_wrapper_padding">
			<header>
			<p class="date"><%= @project.created_at.strftime('%A, %b %d') %></p>
			<h1><%= @project.title %></h1>
			<hr>
		</header>
		<div id="content">
			<%= markdown @project.description %>

			<div class="button_wrapper">
				<a href="<%= @project.link %>" class="project_button" target="_blank">Visit <%= @project.title %> </a>
			</div>
		</div>

			<% if user_signed_in? %>
				<div id="admin_links">
					<%= link_to "Edit Project", edit_project_path(@project) %>
					<%= link_to "Delete Project", project_path(@project), method: :delete, data: { confirm: "Are your sure you want to delete this project?"} %>
				</div>
			<% end %>

			<hr />

</div>
