<div id="disqus_thread"></div>
<script>

/**
*  RECOMMENDED CONFIGURATION VARIABLES: EDIT AND UNCOMMENT THE SECTION BELOW TO INSERT DYNAMIC VALUES FROM YOUR PLATFORM OR CMS.
*  LEARN WHY DEFINING THESE VARIABLES IS IMPORTANT: https://disqus.com/admin/universalcode/#configuration-variables*/

var disqus_config = function () {
//
// this.page.url = '<%= url_for([@post, {only_path: false}])%>';
// this.page.identifier = '<%= @post.id %>';
// this.page.title = '<%= @post.title %>';

this.page.url = '<%= url_for(post_url(@post))%>';
this.page.identifier = '<%= @post.id %>';
this.page.title = '<%= @post.title %>';

};

/** var disqus_url = '<%= url_for( [@post, {only_path: false}])%>';  // Replace PAGE_URL with your page's canonical URL variable
* var disqus_identifier = '<%= @post.id %>'; // Replace PAGE_IDENTIFIER with your page's unique identifier variable
* var disqus_title = '<%= @post.title %>';
* var disqus_shortname = 'kfilip';*/


(function() { // DON'T EDIT BELOW THIS LINE
var d = document, s = d.createElement('script');
s.src = 'https://kfilip.disqus.com/embed.js';
s.setAttribute('data-timestamp', +new Date());
(d.head || d.body).appendChild(s);
})();
</script>
<noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
