<%= form_for @post do |f|  %>
	<% if @post.errors.any? %>
		<h2><%= pluralize(@post.errors.count, "error")%> prevented this post from saving</h2>
		<ul>
			<% @post.errors.full_messages.each do |msg| %>
				<li>
					<%= msg %>
				</li>
			<% end %>
		</ul>
	<% end %>

	<%= f.label :title%><br />
	<%= f.text_field :title%>

	<br />
	<br />

	<%= f.label :content, "Write your article here" %><br />
	<%= f.text_area :content%>

	<br />
	<br />

	<%= f.submit %>
<% end %>
