<div id="post_show_content" class="skinny_wrapper skinny_wrapper_padding">
			<header>
			<p class="date"><%= @post.created_at.strftime('%A, %b %d') %></p>
			<h1><%= @post.title %></h1>
			<hr>
		</header>
		<div id="content">
			<%= markdown @post.content %>
			</div>

			<% if user_signed_in? %>
				<div id="admin_links">
					<%= link_to "Edit Article", edit_post_path(@post) %>
					<%= link_to "Delete Article", post_path(@post), method: :delete, data: { confirm: "Are your sure you want to delete this post?"} %>
				</div>
			<% end %>

			<hr />
			<div id="share_box">
				<p>
					Share The DO list
				</p>
				<a onclick="javascript:window.open('http://facebook.com/sharer.php?u<%= url_for([@post, {only_path: false}])%>', '_blank', 'width=800, height=500, top=200, left=300');void(0);"><i class="fa fa-facebook" aria-hidden="true"></i></a>
				<a onclick="javascript:window.open('http://twitter.com/share?text=<%= @post.title %> by @kamilfilip - &amp;url=<%= url_for([@post, {only_path: false}])%>', '_blank', 'width=800, height=500, top=200, left=300');void(0);"><i class="fa fa-twitter" aria-hidden="true"></i></a>
				<a onclick="javascript:window.open('https://plus.google.com/share?url=<%= url_for([@post, {only_path: false}])%>', '_blank', 'width=800, height=500, top=200, left=300');void(0);"><i class="fa fa-google-plus" aria-hidden="true"></i></a>
			</div>
			<hr />
			<%= render 'disqus' %>
		</div>
