#posts_wrapper, #project_wrapper {
  padding: 3em 0;
  .post {
    text-align: center;

    .date{
      font-size: .9em;
      margin: 0;

    }
    h2{
      margin: 0;
      font-size: 2em;
      text-transform: uppercase;
      a{
        color: $dark;
        text-decoration: none;
        &:hover{
          color: $highlight;
        }
      }
    }
    hr{
      margin: 3em auto;

    }
  }
}

// POST SHOW
#post_show_content, #project_show_content {
  header {
    text-align: center;
    .date{
      font-size: .9em;
      color: $light;
      margin: 0;
    }
    h1{
      margin: 0;
    }
  }
  hr {
    margin: 3em auto;
  }

}

#share_box{
  text-align: center;
  p{
    padding: 0 0 1em 0;
    margin: 0;
    font-weight: 700;
    text-transform: uppercase;
    color: $dark;
    font-size: .8em;
  }
  i {
    color: $dark;
    padding: 1em 1.5em;
    &:hover {
      color: $highlight;
      cursor: pointer;
    }
  }
}

#admin_links{
	border-top: 1px solid $border;
	border-bottom: 1px solid $border;
	text-align: center;
	padding: 1em 0;
	margin: 3em 0;

	a{
			color: $light;
			margin: 0 1em;
			font-weight: 700;
			font-size: .8em;
			text-transform: uppercase;
			text-decoration: none;
	}

}

// PAGINATION
.pagination:before,
.pagination:after{
  content: "";
  display: table;
}

.pagination:after{
  clear:both;
}

.pagination{
  text-align: center;
  margin: 0 0 3em 0;
  a, .previous_page, .current, .next_page{
    padding: .75em 1em;
    margin: 0 .5em;
    border-radius: .15em;
    line-height: 20px;
    text-decoration: none;
    background: $background;
    font-weight: 700;
    font-size: .7em;
    font-style: normal;
    color: $dark;
    &:hover{
      background: $highlight;
      color: $background;
    }
  }
  .current{
    background: $highlight;
    color: $background;
  }
  .disabled {
    color: $disabled;
    &:hover{
      color: $disabled;
      background: $background;
    }
  }
}
