@import 'normalize';

$dark: #424652;
$light: #9a9da4;
$highlight: #8bc6db;
$border: #e9e9e9;
$background: white;
$disabled: white;

// $dark: #FFFFFF;
// $light: #DEDEDE;
// $highlight: #ff9900;
// $border: #F0F0F0;
// $background: #262626;
// $disabled: #666666;

// $dark: #FFFFFF;
// $light:  #262626
// ;
// $highlight: #262626;
// $border: #F0F0F0;
// $background:  #ff9933
// ;
// $disabled: #666666;

*{
  box-sizing: border-box;
}

body{
  font-family: 'Raleway', sans-serif;
  background-color: $background;
  // background-image: url("img/background-wro.jpg");
  // background-repeat: no-repeat;
  // background-attachment: fixed;
}

.wrapper {
  width: 90%;
  margin: 0 auto;
}

.skinny_wrapper {
  margin: 0 auto;
  width: 80%;
  max-width: 760px;

}
.wrapper_padding{
  padding: 10em 0 4em;
}
.skinny_wrapper_padding{
  padding: 4em 0 4em;
}

.clearfix:before,
.clearfix::after{
  content: "";
  display: table;

}

.clearfix:after{
  clear: both;
}

#page_title {
  text-align: center;
  border-bottom: 1px solid $border;
  padding: 3em 0;
  font-size: 1rem;
  text-transform: uppercase;

}

.notice, .alert{
	text-align: center;
	padding: 1em 0;
	border-bottom: 1px solid #e9e9e9;

}

h1, h2, h3, h4, h5 ,h6, p, ul, li{
  color: $dark;
}

h1{
  font-size: 2.5rem;
}

h2{
  font-size: 2rem;
}

h3{
  font-size: 1.75rem;
}

h4{
  font-size: 1.375rem;
}

h5{
  font-size: 1.25rem;
}

h6{
  font-size: 1rem;
}

p, li {
  font-size: 1.1rem;
  line-height: 1.75
}

hr {
  width: 3em;
  display: block;
  height: 2px;
  border: 0;
  border-top: 2px solid $highlight;
  margin: 2rem 0;
}


#main_navigation {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1030;
  padding: 2.5em 5%;
  background-color: $background;
  border-bottom: 1px solid $border;
  .name {
    font-weight: 700;
    font-size: .8em;
    letter-spacing: 4px;
    text-transform: uppercase;
    border: 2px solid $border;
    padding: 1rem;
    text-decoration: none;
    color: $dark;
    float: left;
    &:hover {
      background-color: $dark;
      color: $background;
    }
  }
  nav {
    float: right;
    padding-top: 1.5rem;
    a {
      color: $dark;
      text-decoration: none;
      margin: 0 1rem;
      font-size: 1rem;
      &:hover {
        color: $highlight;
        background-color: $background;
      }
    }

  }
}

#main_footer{
  padding: 2.5em 6%;
  border-top: 1px solid $border;
  .copyright{
    float:left;
    font-size: .9em;
    margin: 0;
  }
  nav{
    float: right;
    i{
      color: $dark;
      margin-left: 1em;
      padding-top: .2em;
      &:hover {
        color: $highlight;
      }
    }
  }

}

input[type="text"], input[type="email"], input[type="password"],textarea{
  width: 100%;
  max-width: 100%;
  height: 3em;
  border: 1px solid $border;
  padding: 1em 1em 1em;
  margin: .5em 0 .5em 0;
  background: transparent;
}

textarea{
  min-height: 20em;
}

label{
  color: $dark;
}

input[type="submit"], .button{
  outline: none;
  background: $highlight;
  border: 2px solid $highlight;
  text-align: center;
  font-size: 1em;
  color: $background;
  text-decoration: none;
  padding: .75em 1em  .75em 1em ;
  &:hover{
    border: 2px solid $dark;
    color: $background;
    background: $dark;
  }
}

.project_button {
	background: $highlight;
	color: white;
	text-decoration: none;
	padding: 1em 2em;
}

.button_wrapper{
	margin: 4em 0 0 0;
	text-align: center;
}

.hidden{
	display: none;
}
@import 'welcome';
@import 'post_projects';
@import 'pygments';
