<!DOCTYPE html>
<html>
  <head>
		<title>Kamil Filip</title>
		<link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet">
		<script src="https://use.fontawesome.com/f5689874ad.js"></script>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
		<header id="main_navigation" class="clearfix">
			<%= link_to "Kamil Filip", root_path, class: "name" %>
			<nav>
				<%= link_to "Articles", posts_path %>
		  	<%= link_to "Projects", projects_path %>
				<%= link_to "Contact", new_contact_path %>
				<% if user_signed_in? %>
					<%= link_to "Sign Out", destroy_user_session_path, method: :delete %>
				<% end %>

			</nav>
		</header>


		<div class="wrapper wrapper_padding clearfix">
			<% if notice %>
	       <p class="notice"><%= notice %></p>
			<% elsif alert %>
				<p class="alert"><%= alert %></p>
			<% end %>


    	<%= yield %>
		</div>
		<footer id="main_footer">
			<p class="copyright">
				&copy; Kamil Filip 2017
			</p>
			<nav>
				<a href="https://mail.google.com/mail/" target="_blank"><i class="fa fa-envelope" aria-hidden="true"></i></a>
				<a href="https://www.facebook.com/" target="_blank"><i class="fa fa-facebook-square" aria-hidden="true"></i></a>
				<a href="https://pl.linkedin.com/" target="_blank"><i class="fa fa-linkedin-square" aria-hidden="true"></i></a>
				<a href="https://gitlab.com/" target="_blank"><i class="fa fa-github" aria-hidden="true"></i></a>
			</nav>
		</footer>

  </body>
</html>
